
  .table-responsive{
	border-left:0px;
  }
  .b-table-sticky-header > .table.b-table > thead > tr > th{
	border-right:1px ridge lightgray !important;
	/* background:red; */
	/* position:static; */
  }
  

  .dropdownIcon .dropdown-toggle {
    padding: 0.25rem;
    display: inline-flex;
}
td.statusCol{
  text-align: center;
  width:40px;
}
td.actionsCol{width:25px;
}
.table td{
  vertical-align: middle;
}

.dropdownbtn{
  margin-bottom: 0;cursor: pointer;
}

span.errors{
  color:red;
  font-size: 10px;
}